<li id="deck-<%= deck.id %>">
  <span class="name"><%= link_to deck.name, deck %></span>
  <span class="content">
    <%= deck.description %>
  </span>
  <span class="code">
    <%= deck.cards.length %> cards
  </span>
  <span class="timestamp">
    Created <%= time_ago_in_words(deck.created_at) %> ago.
  </span>
    <span class="timestamp">
    Edited <%= time_ago_in_words(deck.updated_at) %> ago.
  </span>

  <% if  logged_in? %>
        <% if current_user?(deck.user) %>
              <%= link_to "delete", deck, method: :delete,
                          data: { confirm: "You sure?" } %>
              <%= link_to "edit", edit_deck_path( deck ) %>
              <%else%>

        <%= link_to "steal", steal_deck_path( deck )%>
          <% end %>
  <% end %>

</li>